<launch>
    <group ns = "waypoint_action">
        <node pkg="dwa_tutorial" type="dwa_robot_pose_broadcaster" name="dwa_robot_pose_broadcaster">
        </node>
        <node pkg="dwa_tutorial" type="dwa_virtual_environment" name="dwa_virtual_environment">
            <rosparam>
                sensor_size : 50
            </rosparam>
        </node>
    </group>
</launch>