<launch>
    <include file="$(find dwa_tutorial)/launch/waypoint_action/virtual_environment.launch"/>
    <node pkg="rviz" type="rviz" name="rviz" args= "-d $(find dwa_tutorial)/config/rviz/waypoint_action.rviz"/>
    <node name="vel_plot_lin" pkg="rqt_plot" type="rqt_plot" args="/cmd_vel_mux/input/teleop/linear/x /cmd_vel_mux/input/teleop/angular/z" />
    
    <group ns = "waypoint_action">
        <node pkg="dwa_tutorial" type="dwa_waypoint_client" name="dwa_waypoint_client" output="screen">
            <rosparam>
                approach_distance : 0.3
            </rosparam>
        </node>
    </group>
    
</launch>